@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Titan One', sans-serif;
}

#root{
  position: relative;
  text-align: center;
  border-radius: 12px;
  background-color: var(--accent);
  min-width: 300px;
  min-height: 150px;
}